:root {
  --font-family: "Work Sans",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

/* Header Style */
header {
  background-image: url('images/banner/banner1.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  padding: 248px 290px 182px 907px;
  height: 100vh;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  padding-right: 110px;
}

/* Header style */

header .first_section {
  /* padding: 20px; */
  width: 525px;
  text-align: right;
  /* border: 1px solid red; */
}

header .first_section .header {
  max-width: 525px;
}

.header h1 {
  font-size: 65px;
  color: #151414;
  font-weight: bold;
  margin-bottom: 30px;
}

.text {
  max-width: 475px;
  margin-left: auto;
}

.text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #444343;
  /* text-align: right; */
  margin-left: auto;
  margin-bottom: 30px;
}

.btn {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #F15B22;
  padding: 20px 25px;
}

/* Main section style */
main {
  max-width: 100vw;
  /* margin: 148px 363px 0 232px;
  width: 1206px;
  height: 814px; */
  border: 1px solid red;
}

.main {
  display: flex;
  /* justify-content: center; */
  border: 1px solid red;
  justify-content: space-between;
  max-width: 1206px;
  margin: 147px 362px 0 230px;
  /* width: 1206px; */
  /* height: 814px; */
}

main .main .img img {
  width: 640px;
  /* height: 641px; */
}

.img {
  position: relative;
  display: block;
}

.img::after {
  content: "";
  background-color: #f15d2257;
  width: 593px;
  height: 593px;
  /* width: 100%;
  height: 100%; */
  /* top: 0; */
  left: 4%;
  /* right: 50%; */
  bottom: 5px;
  border: none;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
}


/* Failures Section */
.my_failures {
  /* margin:0 auto; */
  /* width: 468px;
  height: 450px; */
  border: 1px solid red;
}

.failures {
  margin: 269px 0 95px 98px;
  border: 1px solid red;
}

.failures_header h1 {
  font-size: 45px;
  font-weight: bolder;
  columns: #151414;
  margin-bottom: 24px;
}

.failures_paragraph p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  color: #444343;
  margin-bottom: 30px;
}

.failures_list ul {
  list-style-position: inside;
  list-style-type: none;
}

.failures_list ul li {
  margin-top: 12px;
  font-size: 16px;
  color: #444343;
  font-weight: 500;
}

.failures_list ul li i {
  color: #16D887;
}

/* My plans Section */
.my_plans {
  max-width: 1285px;
  /* border: 1px solid red; */
  margin: 147px 258px 0 255px;
}

.my_plans .header {
  /* text-align: center; */
  margin: 0 auto;
}

.my_plans .header h1 {
  font-size: 50px;
  font-weight: 900;
  color: #151414;
  text-align: center;
  margin-bottom: 63px;
}

.plans_cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.plans_cards img {
  width: 105px;
  margin-bottom: 21px;
  text-align: center;
}

.plans_cards h3 {
  margin-bottom: 18px;
  font-size: 34px;
  font-weight: bold;
  color: #151414;
}

.plans_cards p {
  font-size: 28px;
  font-weight: 500;
  color: #737272;
  text-align: center;
}


/* Grediant pic style */
.Grediant_pic {
  padding: 67px 695px 67px 72px;
  max-width: 1285px;
  /* border: 1px solid red; */
  margin: 147px 258px 213px 255px;
  background-image: linear-gradient(to right, rgb(236, 88, 29), rgba(241, 91, 34, 0.06)), url('images/watch.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.Grediant_pic h1 {
  font-size: 45px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 27px;
}

/* Footer Section */
footer {
  background-color: black;
  max-width: 100vw;
  padding: 147px 258px 147px 255px;
  color: #F8F8F8;
}

.footer_section {
  display: flex;
  justify-content: space-between;
  /* gap: 371px; */
  max-width: 1285px;
}


/* Footers Future Section */
.future {
  max-width: 540px;
}

.subscribe {
  max-width: 745px;
}

.future h1 {
  font-size: 80px;
  font-weight: bold;
  color: #F8F8F8;
  margin-bottom: 27px;
}

.future p {
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
}

.contact_link {
  margin-top: 18px;
}

.contact_link .one {
  margin: 24px 0 18px 0;
}

.contact_link p {
  margin-bottom: 36px;
}

.social_link {
  display: flex;
  gap: 21px;
}

.subscribe h4 {
  font-size: 29px;
  margin-bottom: 34px;
}

.subscribe form input {
  padding: 21px 158px 21px 22px;
  border: 1px solid #ffffffa2;
  border-radius: 10px;
  background-color: transparent;
  color: #F3F3F3;
  font-size: 18px;
  margin-bottom: 18px;
}

.btn1 button {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  color: #F15B22;
  font-size: 22px;
  font-weight: 600;
}
